body {
    font-family: 'Verdana';
    background-color: #feeeed;
}

body {

    background-image: url('img/blue-snow.png');
    background-repeat: no-repeat;
    
    background-position: center;
    
    background-size: cover;
    
    opacity: 12;
}