body {
    font-family: 'Verdana';
    background-color: #feeeed;
}

/*.content {
/*    background-color: #fdeaea;
}*/
body {
    /*背景图片的路径*/
    background-image: url('img/blue-snow.png');
    /* 图片不重复 */
    background-repeat: no-repeat;
    /* 图片位置 */
    background-position: center;
    /* 图片大小 */
    background-size: cover;
    /* 透明度 */
    opacity: 12;
}